OH SHIT, I forgot to ask, what is your age?
please only enter the number of years!

<form method= "post" action= "your_age">
	<input type="text" name = "your_age">
	<input type="submit" value = "enter">
	<input type="hidden" name="first_name"
	value = "<%=first_name%>">
	<input type="hidden" name="last_name"
	value = "<%=last_name%>">
	<input type="hidden" name="hair_color"
	value = "<%=hair_color%>">
	<input type="hidden" name="eye_color"
	value = "<%=eye_color%>">
</form>